body{
 margin:0;
 font-family:sans-serif;
 background:linear-gradient(120deg,#0b0b20,#111133);
 color:white;
 text-align:center;
}

nav{
 display:flex;
 justify-content:space-between;
 padding:20px;
 background:#111;
}

.hero{
 padding:60px;
}

.card{
 background:rgba(255,255,255,0.05);
 backdrop-filter:blur(10px);
 width:350px;
 margin:auto;
 padding:20px;
 border-radius:16px;
}

input{
 padding:10px;
 width:90%;
 border-radius:8px;
 border:none;
 margin-bottom:10px;
}

button{
 padding:10px 20px;
 border:none;
 border-radius:8px;
 background:#7c3aed;
 color:white;
 cursor:pointer;
 margin:5px;
}

.bar{
 height:20px;
 background:#333;
 border-radius:10px;
 overflow:hidden;
 margin-top:10px;
}

#yesBar{
 height:100%;
 width:0%;
 background:green;
}
